/* -------- show page ---------- */
.show-page {
  width: 100%;
  height: 100vh;
  background-color: #fff;
}

.show-list {
  text-align: left !important;
}

.card-width {
  width: 600px !important;
}

.show-list h5 {
  line-height: 2.7;
  width: 230px;
}
