@import 'bootstrap/dist/css/bootstrap';
@font-face {
  font-family: "Proxima Nova Light";
  src: url('/assets/ProximaNovaAltLight.otf');
}

@font-face {
  font-family: "Proxima Nova Bold";
  src: url('/assets/ProximaNovaAltBold.otf');
}

:root {
  --color-primary: #3778c2; 
  --color-secondary: #5fb523; 
  --color-text: #434b54;
}

html,
body {
  overflow-x: hidden;
  font-family: "Proxima Nova Light" !important;
}

.bg-primary {
  background-color: var(--color-primary) !important;
}

.btn-primary {
  background-color: var(--color-primary) !important;
}

.nav-link, .navbar-brand {
  font-family: "Proxima Nova Bold";
}

.show-page {
  width: 100%;
  height: 100vh;
  background-color: #fff;
}

.show-list {
  text-align: left !important;
} 

.card-width {
  width: 600px !important;
}

.link {
  color: rgba(0, 0, 0, 0.7);
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
  text-decoration: none;
  transition: all 0.3s;
}

.link:hover {
  text-decoration: none;
  color: #000;
  border-bottom: 2px solid #000;
  font-family: "Proxima Nova Bold";
}

.show-list h5 {
  line-height: 2.7;
  width: 230px;
}

.group {
  height: 70px;
}

.blockquote-footer {
  font-size: 11px;
}

.transaction h5,
.group-content {
  line-height: 2.7;
  width: 230px;
}

.group-content p {
  height: 30px;
  line-height: 2;
}

.nav-link {
  font-size: 16px !important;
}

i {
  color: rgba(0, 0, 0, 0.3);
  margin-right: 10px;
}

.margin-top {
  margin-top: 80px !important;
}

.bg-green {
  background-color: var(--color-secondary);
  position: fixed;
  width: 100%;
  bottom: -20px;
  left: 0;
}

.decor-section {
  padding-bottom: 80px;
}

.btn-outline-ghost {
  text-transform: uppercase;
  color: #fff; 
  border: 1px solid #fff;
  display: block;
  width: 100%;
  padding: 10px 20px;
  text-align: center;
}

.btn-outline-ghost:hover {
  text-decoration: none !important;
  color: #fff !important;
  background-color: rgba(255, 255, 255, 0.2);
}

.circle-avater {
  border-radius: 50%;
  margin-bottom: 10px;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.dropdown-item:active {
  background-color: var(--color-primary) !important;
}

@media only screen and (max-width: 991px) {
  .app-nav ul,
  .app-nav a {
    width: 200px;
    background-color: var(--color-primary) !important;
    display: block;
    margin: 10px auto; 
  }
}
