<div class="d-flex group align-items-center">
 <%= fa_icon category.icon, class: "fa-2x" %>
 <blockquote class="blockquote group-content border-bottom ml-2 pt-4 pr-3">
  <p class="mb-0"><%= link_to category.name, category_path(category), class: "link" %></p>
  <footer class="blockquote-footer text-dark"><%= category.created_at.strftime("%d %B %Y")%></footer>
</blockquote>
  <% if current_user == category.user %>
    <span><%= link_to 'Edit', edit_category_path(category), class: "btn btn-danger btn-sm ml-1"%></span>
  <% end %>
</div>