<div class="show-page d-flex flex-column align-items-center pt-4">
     <h4>Decor Categories</h4>
     <%= render @categories %>
       <%= link_to "Add New Category", new_category_path, class: "btn btn-success mt-2 ml-3 btn-block group-content" %>
 </div>