<div class="margin-top">
<h3 class="text-center">Decors for <%=@category.name %></h3>
<div class="card mb-3">
    <div class="card-body d-flex justify-content-between">
        <p class="card-text">Total amount</p>
        <p class="card-text font-weight-bold"><%= number_to_currency(@total)%></p>
    </div>
</div>
<%= show_category_decors(@category) %>
</div>